<!DOCTYPE html>
<!--Code by Divinector - divinectorweb.com-->
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
	<link href="{%static "css/home.css"%}" rel="stylesheet">
</head>
<body>
	<div class="banner-text">

		<ul>
			<a href="/"><li>Home</li></a>
			<a href="/login/"><li>Log In</li></a>

		</ul>

		<h1>Welcome to Vignan's Lara<br>Parent Intimation System</h1>
			<p >CopyRights Reserved 2018-2022 Batch<br> 18FE1A0528 , 18FE1A0542 ,18FE1A0559, 18FE1A0560</p>
	</div>


</body>
</html>
